body{
  overflow: visible;
  /* animation: none; */
}
.pictures{
  display: flex;
  margin: auto;
  margin-top: 15vh;
  left: 0;
  right: 0;
  width: 93.75vw;
  flex-direction: column;
  align-items: flex-start;
}
.string1{
  display: flex;
  height: 23.4895833vw;
  width: 100%;
  flex-direction: row;
}
.text1{
  background-color: white;
  width: 11.625vw;
  margin-bottom: 7vh;
  height: 6.4895833vw;
  border: 2px solid #000000;
  padding-left: 1vw;
  margin-left: 1vw;
  padding-top: 1vw;
  margin-right: 2vw;
  margin-top:3vh;
  font-size: 2.3vh;
}
.pic1{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background-color:red; */
  width:15.625vw;
  height: 23.4895833vw;
  border-radius: 3vh;
  border: 2px solid #000000;
  overflow: hidden;
}

.img1{
  width: 100%;
  height: 100%;
  filter: grayscale(100%) contrast(400%);
  background: url("../images/img1.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
  transition: transform 1s, filter .5s ease-out;
}

.img1:hover{
  filter: grayscale(0%);
  transform: scale(1.5);
}
.img2{
  background: url("../images/img2.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.img3{
  background: url("../images/img3.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.img4{
  background: url("../images/img4.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img5{
  background: url("../images/img5.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img6{
  background: url("../images/img6.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img7{
  background: url("../images/img7.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img8{
  background: url("../images/img8.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img9{
  background: url("../images/img9.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img10{
  background: url("../images/img10.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img11{
  background: url("../images/img11.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img12{
  background: url("../images/img12.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img13{
  background: url("../images/img13.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img14{
  background: url("../images/img14.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img15{
  background: url("../images/img15.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img16{
  background: url("../images/img16.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img17{
  background: url("../images/img17.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img18{
  background: url("../images/img18.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img19{
  background: url("../images/img19.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img20{
  background: url("../images/img20.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img21{
  background: url("../images/img21.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img22{
  background: url("../images/img22.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img23{
  background: url("../images/img23.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img24{
  background: url("../images/img24.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img25{
  background: url("../images/img25.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.img26{
  background: url("../images/img26.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.img27{
  background: url("../images/img27.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
/* страница схемы */
.line30 {
    position: fixed;
    top: 0;
    left: 43.5vw;
    width: 2px;
    height: 10vh;
    background-color: black;
    z-index: -1;
}
.map{
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 15vh;
  position: absolute;
  width:110.18518vh;
  height: 78.7037037vh;
  background-image: url("../images/scheme.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.area1{

}

.block20, .block21, .block24, .block27, .block28, .block29, .block30{
  position: absolute;
  left: 6.25vw;
  position: absolute;
  text-align: center;
  line-height: 11.11111vh;
  width: 37.5vw;
  height: 11.11111vh;
  background-color: white;
  font-size: 1.8vw;

}
.block20{
  top: 100vh;
}

.block21{
  top: 115vh;
}

.block22{
  position: absolute;
  left: 6.25vw;
  top: 130vh;
  text-align: left;
  width: 35.5vw;
  height: 16vh;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
  line-height: 1.4vw;
  font-size: 2.3vh;
}
.img28, .img29, .img30, .img31, .img32, .img33, .img34{
  filter: grayscale(100%) contrast(400%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 1s, filter .5s ease-out;
}
.img28{
  position: absolute;
  left: 50.0520833vw;
  top: 100vh;
  width: 43.6979167vw;
  height: 48vh;
  border-radius: 5vw;
  background-image:url("../images/картинка4.jpg");
}
.img29{
  position: absolute;
  left: 6.25vw;
  top: 153vh;
  width: 87.395833vw;
  height: 45vh;
  border-radius: 5vw;
  background-image:url("../images/картинка5.jpg");
}

.block23{
  position: absolute;
  left: 6.25vw;
  top: 203vh;
  text-align: left;
  width: 35.5vw;
  height: 18vh;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
  line-height: 1.4vw;
  font-size: 2.3vh;
}

.block24{
  left: 55.625vw;
  top: 223vh;
}
.img30{
  position: absolute;
  left: 6.25vw;
  top: 228vh;
  width: 43.6979167vw;
  height: 48vh;
  border-radius: 5vw;
  background-image:url("../images/картинка6.jpg");
}
.block25{
  position: absolute;
  left: 55.625vw;
  top: 238vh;
  text-align: left;
  width: 35.5vw;
  height: 25vh;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
  line-height: 1.4vw;
  font-size: 2.3vh;
}

.img31, .img32, .img33, .img34{
  filter: grayscale(100%) contrast(120%);
  background-size: contain;
  background-color: white;
  width: 37vh;
  height: 37vh;
  border-radius: 5vw;
}
.img31{
  position: absolute;
  left: 6.25vw;
  top: 281vh;
  background-image:url("../images/картинка7.png");
}

.img32{
  position: absolute;
  margin: auto;
  left: 0vw;
  right: 0;
  top: 281vh;
  background-image:url("../images/картинка8.png");
}
.img33{
  position: absolute;
  left: 72vw;
  top: 281vh;
  background-image:url("../images/картинка9.png");
}

.img34{
  position: absolute;
  left: 72vw;
  top: 330vh;
  background-image:url("../images/картинка10.png");
}

.block26{
  position: absolute;
  left: 6.25vw;
  top: 330vh;
  text-align: left;
  width: 35.5vw;
  height: 11vh;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
  line-height: 1.4vw;
  font-size: 2.3vh;
}

.block27{
  position: absolute;
  left: 6.25vw;
  top: 367vh;
}
.block28{
  top: 383vh;
}
.block29{
  top: 399vh;
}
.block30{
  top: 415vh;
}

.block31{
  position: absolute;
  left: 55.625vw;
  top: 392vh;
  text-align: left;
  width: 35.5vw;
  height: 8vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: white;
  line-height: 8vh;
  font-size: 2.3vh;
}
.up{
  position: absolute;
  text-align: center;
  line-height: 6.57407407vh;
  left: 67.625vw;
  top: 405vh;
  font-size: 1.8vw;
  width: 12.5vw;
  height: 6.57407407vh;
  background-image:url("../images/шестикульник1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.navigation{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 15vh;
  padding-top: 14vh;
  padding-bottom: 14vh;
  padding-left: 13vh;
  padding-right: 13vh;
  position: absolute;
  width:110.18518vh;
  height: 78.7037037vh;
}
.rhomb4{
  position: relative;
  width: 23vh;
  height: 23vh;
  transform: rotate(45deg);
}
.rhomb5{
  position: relative;
  top: 7vh;
  width: 23vh;
  height: 23vh;
  transform: rotate(45deg);
}
.rhomb6{
  position: relative;
  top: -46vh;
  left: 30vh;
  width: 23vh;
  height: 23vh;
  transform: rotate(45deg);
}
.rhomb7{
  position: relative;
  top: -39vh;
  left: 30vh;
  width: 23vh;
  height: 23vh;
  transform: rotate(45deg);
}
.rhomb8{
  position: relative;
  top:-92vh;
  left: 60vh;
  width: 23vh;
  height: 23vh;
  transform: rotate(45deg);
}
.rhomb9{
  position: relative;
  top:-85vh;
  left: 60vh;
  width: 23vh;
  height: 23vh;
  transform: rotate(45deg);
}
