
body{
  overflow: visible;
}
.mainblock3{
  margin: auto;
  margin-top: 15vh;
  left: 0;
  right: 0;
  width: 93.75vw;
}

.firstline{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  flex-wrap: nowrap;
}
.rhomb{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.854166667vw;
  height: 8.854166667vw;
  background-color: white;

}
.text2{
  text-align: center;
  font-size: 2.3vh;

}
.firstline1{
  width: 80%;
  margin: auto;
}

.line20{
  position: absolute;
  width: 2px;
  height: 7vh;
  background-color: black;
}

.line21{
  position: absolute;
  width: 2px;
  height: 15vh;
  background-color: black;
}

.block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15, .block16, .block17, .block18, .block19{
  filter: grayscale(100%) contrast(200%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 1s, filter .5s ease-out;
  border-radius: 13vh;
}
.block8{
  position: absolute;
  left: 3vw;
  top: 44vh;
  width: 37.5vw;
  height: 39.44444vh;
  background-size: auto 100%;
  background-image:url("../images/картинка11.jpg");
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5'  color='%23FF0000' fill='blue'/%3E%3C/svg%3E%0A"), auto;
  background-color: #1A1A1A;
}

.block9{
  position: absolute;
  left: 6vw;
  top:94vh;
  width: 37.5vw;
  height: 39.44444vh;
  background-image:url("../images/картинка12.jpg");
}
.block10{
  position: absolute;
  left: 6vw;
  top:158vh;
  width: 28.125vw;
  height: 37.037037vh;
  background-image:url("../images/картинка13.jpg");
}
.line22{
  position: absolute;
  left: 17vw;
  top:81vh;
  width: 2px;
  height:15vh;
  background-color: black;
}
.line23{
  position: absolute;
  left:26vw;
  top:120vh;
  width: 2px;
  height: 41vh;
  background-color: black;
}

.block11{
  position: absolute;
  left: 43vw;
  top:36vh;
  width: 20.833333vw;
  height: 50vh;
  background-image:url("../images/картинка16.jpg");
}
.block12{
  position: absolute;
  left: 47vw;
  top:98vh;
  width: 18.75vw;
  height: 50vh;
  background-image:url("../images/картинка15.png");
  background-color: white;
}
.block13{
  position: absolute;
  left: 37vw;
  top:153vh;
  width: 28.125vw;
  height:33.333333vh;
  background-image:url("../images/картинка17.jpg");
}
.block14{
  position: absolute;
  left: 47vw;
  top:190vh;
  width: 21.875vw;
  height:33.333333vh;
  background-image:url("../images/картинка14.jpg");
}
.line27{
  position: absolute;
  left: 56vw;
  top:144vh;
  width: 2px;
  height:15vh;
  background-color: black;
}
.line28{
  position: absolute;
  left:58vw;
  top:180vh;
  width: 2px;
  height: 20vh;
  background-color: black;
}
.line24{
  position: absolute;
  left:70vw;
  top:62vh;
  width: 2px;
  height:63.1vh;
  background-color: black;
}
.line25{
  position: absolute;
  right:28.6vw;
  top:62vh;
  width: 10vw;
  height:2px;
  background-color: black;
}
.line26{
  position: absolute;
  right:28.6vw;
  top:125vh;
  width: 10vw;
  height:2px;
  background-color: black;
}
.block15{
  position: absolute;
  left: 88vw;
  top:35vh;
  width:9.375vw;
  height:33.333333vh;
  background-image:url("../images/картинка7.png");
}
.block16{
  position: absolute;
  left: 74vw;
  top:58vh;
  width:9.375vw;
  height:33.333333vh;
  background-image:url("../images/картинка9.png");
}
.block17{
  position: absolute;
  left: 82vw;
  top:95vh;
  width:15.41666667vw;
  height:33.333333vh;
  background-image:url("../images/картинка10.png");
  background-size: auto 100%;
  background-color: white;
}

.block18{
  position: absolute;
  left: 73vw;
  top:132vh;
  width:24.79166667vw;
  height:33.333333vh;
  background-image:url("../images/картинка18.png");
}
.block19{
  position: absolute;
  left: 76vw;
  top:175vh;
  width:21.6666667vw;
  height:10.78074074vh;
  filter: grayscale(100%) contrast(100%);
  background-image:url("../images/картинка19.png");
}
.line29{
  position: absolute;
  left:87vw;
  top:46vh;
  width: 4vw;
  height:2px;
  background-color: black;
}

.a1{
  left: 10vw;
}
.a2{
  left: 51vw;
}
.a3{
  left: 87vw;
}
