body{
  overflow: hidden;
  animation: color-repeater 1s infinite;
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5' fill='%23FF0000'/%3E%3C/svg%3E%0A"), auto;
}

@keyframes color-repeater {
  0% {
    background: #2CAB5B;
  }
  25% {
    background: #FABC03;
  }
  50% {
    background: #ED4B40;
  }
  75% {
    background: #4286F3;
  }
  100% {
    background: #2CAB5B;
  }
}
.mylovers{
  border: 20px black;
   /* filter: blur(500px); */
}

.base{
  box-sizing: border-box;
  position: absolute;
  width: 720px;
  height: 120px;
  left: 600px;
  top: 120px;
  background: #FFFFFF;
  border: 8px solid #000000;
  border-radius: 72px;
}
