body{
  overflow: hidden;
  height: 100vh;
  animation: color-repeater 10s infinite;
  font-family: 'Inter', sans-serif;
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5' fill='%23FF0000'/%3E%3C/svg%3E%0A"), auto;
}

@keyframes color-repeater {
  0% {
    background: #00D208;
  }
  25% {
    background: #FFD600;
  }
  50% {
    background: #FF3628;
  }
  75% {
    background: #00CEFC;
  }
  100% {
    background: #00D208;
  }
}
.mylovers{
  border: 20px black;
  filter: blur(15vh);
}

a{
  decoration: none;
}

h1{
  font-size: 4.5vh;
}

.borderr{
  border: 2px solid #000000;
}
.mainone{
  display: flex;
  padding-top: 11.1vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66.5vh;
  height: 11.1vh;
  background-color: white;

  z-index: 3;
}
.bureau{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44.1vh;
  height: 11.1vh;
  background-image:url("../images/шестикульник1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;

}

.hov1:hover{
  background-image: url("../images/hov1.png");
  background-size: 100% 100%;
  background-position: center;
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5'  color='%23FF0000' fill='blue'/%3E%3C/svg%3E%0A"), auto;
  transition: all 0.3s ease;
}

.line1{
  width: 2px;
  height: 11.1vh;
  background-color: black;
  z-index: 3;
}
.line2{
  position: absolute;
  top:38.85vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width:37.5vw;
  height:2px;
  background-color: black;
  z-index: 2;
}
.tak1{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 38.85vh;
  width:37.5vw;
}


.shtuki1{
  display: flex;
  justify-content: space-between;
  width: 37.5vw;
}
.tak2{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 52.85vh;
  width: 90.5vw;
}

.shtuki2{
  display: flex;
  justify-content: space-evenly;
  width: 90.5vw;
}
.line3{
  width: 2px;
  height: 14.63vh;
  background-color: black;
}

.line4{
  width: 2px;
  height: 31.1vh;
  background-color: black;
  z-index: 2;
}

.block1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44.1vh;
  height: 11.1vh;
  background-image:url("../images/шестикульник1.svg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}
input::placeholder{
  color: black;
}
.password{
  left: 57vw;
  top: 70vh;
  position: absolute;
  align-self: flex-end;

}
input{
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-color: white;
  z-index: 3;
  font-size: 4.5vh;
  width: 42.1vh;
  height: 11.1vh;
}

input:hover {
  background-color: rgba(255, 255, 255, .5);
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5'  color='%23FF0000' fill='blue'/%3E%3C/svg%3E%0A"), auto;

}
input:focus {
  background: rgba(255, 255, 255, .8);
}



footer{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 3vh;
  width: 97vw;
}
.below{
  display: flex;
  width: 97vw;
  justify-content: space-between;
}
.rightalign{
  text-align: right;
}

.hov2:hover{
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5'  color='%23FF0000' fill='blue'/%3E%3C/svg%3E%0A"), auto;
  color: rgba(0, 0, 0, 0.5);
}

a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}
a:hover{
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5'  color='%23FF0000' fill='blue'/%3E%3C/svg%3E%0A"), auto;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

#jsback{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.menu1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vw;
  width: 12.5vw;
  height: 6.57407407vh;
  background-image:url("../images/шестикульник1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.hov5:hover{
  filter: grayscale(0%);
}
.hov5{
  filter: grayscale(100%) contrast(400%);
  transition: transform 1s, filter .5s ease-out;
}
header{
  height: 11.11111vh;
  weight: 100vw;
  background: linear-gradient(rgba(255,255,255, 1), 60%, rgba(255,0,0,0));
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
}
.line3{
  z-index: 100;
}
.head1{
  display: flex;
  height: 11.11111vh;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  margin: auto;
  left: 0;
  right:0;
  width: 93.75vw;
  z-index: 3;
}

.head2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 59.375vw;
  z-index: inherit;
}
.line30 {
    position: fixed;
    top: 0;
    left: 43.5vw;
    width: 2px;
    height: 10vh;
    background-color: black;
    z-index: -1;
}
.line5{
  position: fixed;
  top: 0;
  left: 9.125vw;
  width: 2px;
  height: 10.11111vh;
  background-color: black;
  z-index: -1;
}
.mainone {
  width: 100vw;
}
.visibility{
  display: none;
}
