.mylovers{
  z-index: 1;
  filter: blur(0vh);
}

.mainblock2{
  margin: auto;
  left: 0;
  right:0;
  width: 93.75vw;
}

.block2{
  position: absolute;
  text-align: center;
  top: 19.222222vh;
  line-height: 11.11111vh;
  width: 37.5vw;
  height: 11.11111vh;
  background-color: white;
  font-size: 1.8vw;
}

.block3{
  position: absolute;
  text-align: left;
  top: 35.8888889vh;
  width: 33.5vw;
  height: 27.7777778vh;
  background-color: white;
  font-size: 2.3vh;
  line-height: 1.4vw;
  padding-top: 1.85185185vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.block4{
  position: absolute;
  top:19.222222vh;
  width: 20vw;
  left: 52.75vw;
  height: 11.11111vh;
  background-color: white;
  font-size: 2.3vh;
  line-height: 1.4vw;
  padding-top: 1.85185185vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.line6{
  position: absolute;
  top: 30.5vh;
  left: 21.875vw;
  width: 2px;
  height: 5.833333vh;
  background-color: black;
}

.line7{
  position: absolute;
  top: 66vh;
  left: 21.875vw;
  width: 2px;
  height: 16.66666vh;
  background-color: black;
}
.line8{
  position: absolute;
  top: 66vh;
  left: 9.32291666vw;
  width: 2px;
  height: 27.7777778vh;
  background-color: black;
}

.block5{
  position: absolute;
  top: 47.277777vh;
  left: 75vw;
  width: 21.875vw;
  height: 16.666667vh;
  filter: grayscale(100%) contrast(400%);
  background-image: url("../images/картинка2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 160px;
  z-index: 2;
  transition: transform 1s, filter .5s ease-out;
}
.block6{
  position: absolute;
  top: 72.277777vh;
  left: 75vw;
  width: 21.875vw;
  height: 16.666667vh;
  overflow: hidden;
  background-image: url("../images/картинка3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 160px;
  filter: grayscale(100%) contrast(400%);
  transform-origin: 50% 50%;
  transition: transform 1s, filter .5s ease-out;
  z-index: 2;
}

.hov3:hover{
  border-radius: 0;
}
.hov4:hover{
  animation: color-repeater 1s infinite;
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5'  color='%23FF0000' fill='blue'/%3E%3C/svg%3E%0A"), auto;
}
.hov7:hover{
  animation: color-repeater 1s infinite;
  opacity: 30%;
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5'  color='%23FF0000' fill='blue'/%3E%3C/svg%3E%0A"), auto;
}
.line9{
  position: absolute;
  top: 27.7vh;
  left: 86.32291666vw;
  width:2px;
  height: 66vh;
  background-color: black;
}

.line10{
  position: absolute;
  top: 28.4vh;
  left: 62.8vw;
  width: 2px;
  height: 54.3vh;
  background-color: black;
}


.line11{
  position: absolute;
  top: 82.5vh;
  left:21.9vw;
  width: 40.9375vw;
  height: 2px;
  background-color: black;
}
.form1{
  position: absolute;
  text-align: center;
  top: 79.3vh;
  left: 40vw;
  width: 16vw;
  font-size: 1.8vw;
  height: 6.57407407vh;
  background-image:url("../images/шестикульник1.svg");
  background-size: 100% 100%;
  line-height: 6.57407407vh;
  background-position: center;
  background-repeat: no-repeat;
}

.line12{
  position: absolute;
  top: 93.6vh;
  left:9.45vw;
  width: 76.9375vw;
  height:2px;
  background-color: black;
}
.line13{
  position: absolute;
  top: 27.599999999999994vh;
  left:67.45vw;
  width: 18.9375vw;
  height:2px;
  background-color: black;
}

.vopros{
  position: absolute;
  width: 7.87037037vh;
  height: 7.87037037vh;
  left: 60.3vw;
  top: 51vh;
  transform: rotate(45deg);
  background-color: white;
}
.vopros1{
  transform: rotate(-45deg);
  line-height: 7vh;
  text-align: center;
  font-size: 1.8vw;
}

.vopros:hover{
  background-color: rgba(255, 255, 255, .5);
  cursor: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5'  color='%23FF0000' fill='blue'/%3E%3C/svg%3E%0A"), auto;
}

.nothing404{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  font-size: 2vw;
  width: 45.5vw;
  height:19.57407407vh;
  background-image:url("../images/шестикульник1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 2;
}
.mainone3{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line17{
  position: absolute;
  top: 12.9vh;
  left: 21vw;
  width: 29vw;
  height:2px;
  background-color: black;
}
.line14{
  width: 2px;
  height:2vh;
  background-color: black;
}
.line15{
  width: 2px;
  height:6vh;
  background-color: black;
}
.line16{
  width: 2px;
  height:10vh;
  background-color: black;
}

.block7{
  display: flex;
  margin-top: 13vh;
  height: 80vh;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.name, .name2, .email{
  width: 30vw;
  font-size: 4.3vh;
}


.submit{
  text-align: center;
  font-family: 'Inter', sans-serif;
  z-index: 3;
  font-size: 4.3vh;
  width:27vw;
  height: 11.1vh;
  line-height: 11.1vh;
  background-image:url("../images/шестикульник1.svg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

}
.vopros2{
  position: absolute;
  width: 7.87037037vh;
  height: 7.87037037vh;
  left: 26.299999999999997vw;
  top: 9vh;
  transform: rotate(45deg);
  background-color: white;
}

.close1{
  left: 19.3vw;
}
.line18 {
    position: absolute;
    top: 0;
    left: 74.7vw;
    width: 2px;
    height: 10.11111vh;
    background-color: black;
    z-index: -1;
}
.line19 {
    position: absolute;
    top: 0;
    left:59.1vw;
    width: 2px;
    height: 10vh;
    background-color: black;
}
